<!DOCTYPE html>
<html>
<body>
<h1 style="text-align:center;">RESOURCES</h1>
<h2>SOORIYA</h2>
<p>
<button>
  <a href="https://www.w3.org/">W3C</a></button></p>
<h2>JAYAKRISH</h2>
<p><button><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">asp.net</a></button></p>
<h2>KRISHNAN</h2>
<p><button><a href="https://www.javatpoint.com/python-tutorial">python-tutorial</a></button></p>
<h2>GURUDEV</h2>
<p><button><a href="https://angular.io/guide/router">angular</a></button></p>
<h2>YASH</h2>
<p><button><a href="https://www.javatpoint.com/sql-tutorial">SQL</a></button></p>
</body>
</html>